<!DOCTYPE html>
<html lang="ru">

	{% load static %}

	<head>
		<title>Larek | {% block title %}{% endblock %}</title>
		<meta name="description" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

		<link type="image/png" sizes="32x32" rel="icon" href="{% static 'favicon.png' %}" />

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

		<!-- <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Regular.woff' %}" as="font" crossorigin />
		<link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font" crossorigin />
		<link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font" crossorigin />
		<link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font" crossorigin />
		<link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light.woff' %}" as="font" crossorigin />
		<link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font" crossorigin /> -->
<!-- 
		<link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/basic.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/extra.css' %}" /> -->
		<link rel="stylesheet" href="{% static 'assets/css/boots.css' %}" />


		<script defer src="{% static 'assets/pkg/htmx/htmx.min.js' %}"></script>
		<script defer src="{% static 'assets/pkg/CountDown/countdown.js' %}"></script>
		<script defer src="{% static 'assets/pkg/jQuery/jquery-3.7.0.min.js' %}"></script>
		<script defer src="{% static 'assets/pkg/form/jquery.form.js' %}"></script>
		<script defer src="{% static 'assets/pkg/form/jquery.maskedinput.min.js' %}"></script>
		<script defer src="{% static 'assets/pkg/range/ion.rangeSlider.min.js' %}"></script>
		<script defer src="{% static 'assets/pkg/Slider/slick.min.js' %}"></script>
		<script defer src="{% static 'assets/js/scripts.js' %}"></script>
	</head>

	<body class="Site" id="app">
		{% include "header.html" %}

		{% block content %}{% endblock %}

		{% include "footer.html" %}
	</body>
</html>
