{% extends "base.html" %}

{% load static %}

{% block title %}Cart{% endblock %}

{% block content %}
<div class="Middle Middle_top">
	<div class="Section">
		<div class="wrap">
			<form v-if="carts.length > 0" class="form Cart" action="" method="post">
				<div
					v-for="(cart, index) in carts"
					:class="{'Cart-product__sold-out': cart.products_count < 1}"
					:key="index"
					class="Cart-product"
				>
					<div class="Cart-block Cart-block_row">
						<div class="Cart-block Cart-block_pict">
							<a class="Cart-pict" :href="`/product/${cart.product_seller.product.id}/?product_seller=${cart.product_seller.id}`">
								<img class="Cart-img" :src="cart.product_seller.product.images[0].image" :alt="cart.product_seller.product.name" />
							</a>
						</div>
						<div class="Cart-block Cart-block_info">
							<a class="Cart-title" :href="`/product/${cart.product_seller.product.id}/?product_seller=${cart.product_seller.id}`">[[ cart.product_seller.product.name ]]</a>
							<div class="Cart-desc">[[ cart.product_seller.product.description ]]</div>
						</div>
						<div class="Cart-block Cart-block_price">
							<div class="Cart-price">$&nbsp;[[ cart.product_seller.price.toLocaleString() ]]</div>
						</div>
					</div>
					<div class="Cart-block Cart-block_row">
						<div class="Cart-block Cart-block_seller">
							[[ cart.product_seller.seller.name ]]
						</div>
						<div class="Cart-block Cart-block_amount">
							<div class="Cart-amount">
								<div class="Amount">
									<button @click="decrementCartCount(index)" class="Amount-remove" type="button"></button>
									<input
										@change="updateCartCount(index, cartsList[index])"
										v-model="cartsList[index]"
										class="Amount-input form-input"
										name="amount"
										type="text"
										:value="[[ cartsList[index] ]]"
									/>
									<button @click="incrementCartCount(index)" class="Amount-add" type="button"></button>
								</div>
							</div>
						</div>
						<div class="Cart-block Cart-block_delete">
							<a class="Cart-delete" @click="deleteCartByID(cart.id)">
                                <img src="{% static 'assets/img/icons/cart/delete.svg' %}" alt="Delete from cart" />
                            </a>
						</div>
					</div>
				</div>
				<div class="Cart-total">
					<div class="Cart-block Cart-block_total">
						<strong class="Cart-title">Итого:</strong><span class="Cart-price">$&nbsp;[[ cartTotalData.total_products_price.toLocaleString() ]]</span>
					</div>
					<div class="Cart-block"><a class="btn btn_success btn_lg" href="{% url 'order' %}">Оформить заказ</a></div>
				</div>
			</form>
			<div v-else class="Section-header">
				<p class="Section-title Section-title-empty_cart">Cart is empty</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block mixins %}
<script src="{% static 'assets/js/cart.js' %}"></script>
{% endblock %}
