{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="Middle Middle_top">
	<div class="Section Section_column Section_columnLeft">
		<div class="wrap">
			<div class="Section-column">
				<div class="Section-columnSection">
					<header class="Section-header">
						<strong class="Section-title">Фильтр</strong>
					</header>
					<div class="Section-columnContent">
						<form class="form" @submit.prevent="filterForm">
							<div class="form-group">
								<div class="range Section-columnRange">
									<input
										class="range-line"
										id="price"
										name="price"
										type="text"
										data-type="double"
										data-min="1"
										data-max="50000"
										:data-from="query.price__gte"
										:data-to="query.price__lte"
									/>
                                    <label for="price__gte">Цена от:</label>
									<input class="filter-input form-input_full" name="price__gte"/>
                                    <label for="price__lte">Цена до:</label>
									<input class="filter-input form-input_full" name="price__lte"/>
								</div>
							</div>
							<div class="form-group">
								<input
									class="filter-input form-input_full"
									id="title"
									name="title"
									type="text"
									v-model="query.product__name__icontains"
									placeholder="Название"
								/>
							</div>
							<div class="form-group">
								<label class="toggle">
									<input type="checkbox" v-model="query.in_stock" true-value="true" false-value="" />
									<span class="toggle-box"></span>
									<span class="toggle-text">Только товары в наличии</span>
								</label>
							</div>
							<div class="form-group">
								<label class="toggle">
									<input type="checkbox" /><span class="toggle-box"></span>
									<span class="toggle-text">С бесплатной доставкой</span>
								</label>
							</div>
							<div class="form-group">
								<div class="buttons">
									<button type="submit" class="btn btn_square btn_dark btn_narrow">Фильтр</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="Section-columnSection">
					<header class="Section-header">
						<strong class="Section-title">Популярные тэги</strong>
					</header>
					<div class="Section-columnContent">
						<div class="buttons">
							<a class="btn btn_default btn_sm" href="#">Видео</a>
							<a class="btn btn_default btn_sm" href="#">Разработка</a>
							<a class="btn btn_default btn_sm" href="#">Игры</a>
							<a class="btn btn_default btn_sm" href="#">Asus</a>
							<a class="btn btn_default btn_sm" href="#">Разработка</a>
							<a class="btn btn_default btn_sm" href="#">Видео</a>
						</div>
					</div>
				</div>
			</div>
			<div class="Section-content">
				<div class="Sort">
					<div class="Sort-title">Сортировать по:</div>
					<div class="Sort-variants">
						<a
							v-for="(ob, index) in orderBy"
							:key="index"
							:class="[query.ordering && query.ordering.endsWith(ob.id) ? `Sort-sortBy_${orderDirMap[orderDir]}` : '']"
							class="Sort-sortBy"
							@click="setSort(ob.id)"
							>[[ ob.title ]]
						</a>
					</div>
				</div>
				<div class="Cards">
					<div class="Card" v-for="(ps, index) in productSellers" :key="index">
						<a class="Card__product__image_link" :href="`/product/${ps.product.id}/?product_seller=${ps.id}`">
							<img class="Card__product__image" :src="ps.product.images[0].image" :alt="ps.product.name" />
						</a>
						<div class="Card-content">
							<strong class="Card-title">
								<a :href="`/product/${ps.product.id}/?product_seller=${ps.id}`"> [[ ps.product.name ]] </a>
							</strong>
							<div class="Card-description">
								<div class="Card-cost">
									<span class="Card-price">$ [[ ps.price.toLocaleString() ]]</span>
								</div>
								<div class="Card-category">[[ ps.product.catalog_category.name ]]</div>
								<div class="Card-hover">
									<a class="Card-btn" href="#">
										<img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="Add to cart" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="Pagination">
					<div class="Pagination-ins">
						<a class="Pagination-element Pagination-element_prev" @click.prevent="changePage(Number(query.page) - 1)">
							<img src="{% static 'assets/img/icons/prevPagination.svg' %}" alt="Previous page" />
						</a>
						<a class="Pagination-element Pagination-element_current">
							<span class="Pagination-text">[[ query.page ]]</span>
						</a>
						<a class="Pagination-element" @click.prevent="changePage(Number(query.page) + 1)">
							<span class="Pagination-text">[[ Number(query.page) + 1 ]]</span>
						</a>
						<a class="Pagination-element" @click.prevent="changePage(Number(query.page) + 2)">
							<span class="Pagination-text">[[ Number(query.page) + 2 ]]</span>
						</a>
						<a class="Pagination-element Pagination-element_prev" @click.prevent="changePage(Number(query.page) + 1)">
							<img src="{% static 'assets/img/icons/nextPagination.svg' %}" alt="Next page" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block mixins %}
<script src="{% static 'assets/js/catalog.js' %}"></script>
{% endblock %}
