{% load static %}

<div  id="cart-change-{{ cart.id }}">
    {% if not cart %}
        <div class="ProductCard-cartElement">
            <a
                class="btn btn_primary"
                hx-post="{% url 'cart_change' %}"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-vals='{"product_seller_id": "{{ product_seller_id }}", "products_count": 1}'
                hx-target="#cart-change-{{ cart.id }}"
            >
                <img class="btn-icon" src="{% static 'assets/img/icons/cart/cart_white.svg' %}" alt="Add to cart" />
                <span class="btn-content">В&nbsp;корзину</span>
            </a>
        </div>
    {% else %}
        <div class="Cart-block Cart-block_row">
            <div class="Cart-block Cart-block_amount">
                <div class="Cart-amount">
                    <div class="Amount">
                        <button
                            class="Amount-remove"
                            type="button"
                            hx-put="{% url 'cart_item' pk=cart.id %}"
                            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                            hx-target="#cart-change-{{ cart.id }}"
                            hx-vals='{"products_count": {{ cart.products_count|add:-1 }}}'
                        ></button>
                        <input
                            class="Amount-input form-input"
                            name="products_count"
                            value="{{ cart.products_count }}"
                            type="text"
                            hx-put="{% url 'cart_item' pk=cart.id %}"
                            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                            hx-target="#cart-change-{{ cart.id }}"
                            hx-trigger="input delay:250ms"
                        />
                        <button
                            class="Amount-add"
                            type="button"
                            hx-put="{% url 'cart_item' pk=cart.id %}"
                            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                            hx-target="#cart-change-{{ cart.id }}"
                            hx-vals='{"products_count": {{ cart.products_count|add:1 }}}'
                        ></button>
                    </div>
                </div>
            </div>
            <div class="Cart-block Cart-block_delete"
                hx-delete="{% url 'cart_item' pk=cart.id %}"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-target="#cart-change-{{ cart.id }}"
            >
                <a class="Cart-delete">
                    <img src="{% static 'assets/img/icons/cart/delete.svg' %}" alt="Delete from cart" />
                </a>
            </div>
        </div>
    {% endif %}
</div>