{% extends "base.html" %}

{% load static %}

{% block title %}Create order{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
        <div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection">
                    <div class="Section-header">
                        <strong class="Section-title">Прогресс заполнения</strong>
                    </div>
                    <div class="Section-columnContent">
                        <div class="Order-navigate">
                            <ul class="menu menu_vt">
                                <li class="menu-item_ACTIVE menu-item">
                                    <a class="menu-link" href="#step1">Шаг 1. Параметры пользователя</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="#step2">Шаг 2. Способ доставки</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="#step3">Шаг 3. Способ оплаты</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="#step4">Шаг 4. Подтверждение заказа</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Section-content">
                <form class="form" @submit.prevent="createOrder">
                    <div class="Order-block Order-block_OPEN" id="step1">
                        <div class="Section-header Section-header_sm">
                            <h2 class="Section-title">Шаг 1. Параметры пользователя</h2>
                        </div>
                        <div class="row">
                            <div class="row-block">
                                <div class="form-group">
                                    <label class="form-label" for="name">Full name</label>
                                    <input class="form-input" v-model="payload.full_name" id="name" name="name" type="text" :value="[[ payload.full_name ]]" />
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="phone">Telephone</label>
                                    <input class="form-input" v-model="payload.phone" id="phone" name="phone" type="text" :value="[[ payload.phone ]]" />
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="mail">Email</label>
                                    <input class="form-input" v-model="payload.email" id="mail" name="mail" type="text" :value="[[ payload.email ]]" data-validate="require" />
                                </div>
                            </div>
                        </div>
                        <div class="Order-footer">
                            <a class="btn btn_success Order-next" href="#step2">Дальше</a>
                        </div>
                    </div>
                    <div class="Order-block" id="step2">
                        <div class="Section-header Section-header_sm">
                            <h2 class="Section-title">Шаг 2. Способ доставки</h2>
                        </div>
                        <div class="form-group" v-for="(delivery, index) in deliveries" :key="index">
                            <div>
                                <label class="toggle">
                                    <input type="radio" v-model="payload.delivery_id" name="delivery" :value="delivery.id" :checked="payload.delivery_id === delivery.id" />
                                    <span class="toggle-box"></span>
                                    <span class="toggle-text">[[ delivery.verbose ]] (Price: [[ delivery.price.toLocaleString() ]]&nbsp;$)</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="address">Address</label>
                            <textarea class="form-textarea" v-model="payload.address" name="address" id="address">[[ payload.address ]]</textarea>
                        </div>
                        <div class="Order-footer">
                            <a class="btn btn_success Order-next" href="#step3">Дальше</a>
                        </div>
                    </div>
                    <div class="Order-block" id="step3">
                        <div class="Section-header Section-header_sm">
                            <h2 class="Section-title">Шаг 3. Способ оплаты</h2>
                        </div>
                        <div class="form-group">
                            <div>
                                <label class="toggle">
                                    <input type="radio" name="pay" value="online" checked="checked" />
                                    <span class="toggle-box"></span>
                                    <span class="toggle-text">Онлайн картой</span>
                                </label>
                            </div>
                            <div>
                                <label class="toggle">
                                    <input type="radio" name="pay" value="someone" />
                                    <span class="toggle-box"></span>
                                    <span class="toggle-text">Онлайн со случайного чужого счета</span>
                                </label>
                            </div>
                        </div>
                        <div class="Order-footer">
                            <a class="btn btn_success Order-next" href="#step4">Дальше</a>
                        </div>
                    </div>
                    <div class="Order-block" id="step4">
                        <div class="Section-header Section-header_sm">
                            <h2 class="Section-title">Шаг 4. Подтверждение заказа</h2>
                        </div>
                        <div class="Order-infoBlock">
                            <div class="Order-personal">
                                <div class="row">
                                    <div class="row-block">
                                        <div class="Order-info">
                                            <div class="Order-infoType">Full name:</div>
                                            <div class="Order-infoContent">[[ payload.full_name ]]</div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">Telephone:</div>
                                            <div class="Order-infoContent">[[ payload.phone ]]</div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">Email:</div>
                                            <div class="Order-infoContent">[[ payload.email ]]</div>
                                        </div>
                                    </div>
                                    <div class="row-block">
                                        <div class="Order-info Order-info_delivery">
                                            <div class="Order-infoType">Delivery:</div>
                                            <div class="Order-infoContent">[[ deliveries?.find(x => x.id === this.payload.delivery_id)?.verbose ]]</div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">Address:</div>
                                            <div class="Order-infoContent">[[ payload.address ]]</div>
                                        </div>
                                        <div class="Order-info Order-info_pay">
                                            <div class="Order-infoType">Оплата:</div>
                                            <div class="Order-infoContent">Онлайн картой</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Cart Cart_order">
                                <div
                                    v-for="(cart, index) in carts"
                                    :class="{'Cart-product__sold-out': cart.products_count < 1}"
                                    :key="index"
                                    class="Cart-product"
                                >
                                    <div class="Cart-block Cart-block_row">
                                        <div class="Cart-block Cart-block_pict">
                                            <a class="Cart-pict" :href="`/product/${cart.product_seller.product.id}/?product_seller=${cart.product_seller.id}`">
                                                <img class="Cart-img" :src="cart.product_seller.product.images[0].image" :alt="cart.product_seller.product.name" :alt="cart.product_seller.product.name" />
                                            </a>
                                        </div>
                                        <div class="Cart-block Cart-block_info">
                                            <a class="Cart-title" :href="`/product/${cart.product_seller.product.id}/?product_seller=${cart.product_seller.id}`">[[ cart.product_seller.product.name ]]</a>
                                            <div class="Cart-desc">[[ cart.product_seller.product.description ]]</div>
                                        </div>
                                        <div class="Cart-block Cart-block_price">
                                            <div class="Cart-price">[[ cart.product_seller.price.toLocaleString() ]]&nbsp;$</div>
                                        </div>
                                    </div>
                                    <div class="Cart-block Cart-block_row">
                                        <div class="Cart-block Cart-block_amount">[[ cart.products_count]] шт.</div>
                                    </div>
                                </div>
                                <div class="Cart-total">
                                    <div class="Cart-block Cart-block_total">
                                        <strong class="Cart-title">Итого:</strong>
                                        <span class="Cart-price">[[ cartTotalData.total_products_price.toLocaleString() ]]&nbsp;$</span>
                                    </div>
                                    <div class="Cart-block">
                                        <button class="btn btn_primary btn_lg" type="submit">Оплатить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block mixins %}
<script>
    const userFullName = '{{ user.get_full_name }}'
    const userPhone = '{{ user.phone }}'
    const userEmail = '{{ user.email }}'
    const userAddress = '{{ user.address }}'
</script>
<script src="{% static 'assets/js/order.js' %}"></script>
{% endblock %}
