{% extends "base.html" %}
{% load static %}

{% block title %}Payment Status{% endblock %}

{% block content %}
<div class="container">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'orders_history' %}">Orders</a></li>
            <li class="breadcrumb-item active" aria-current="page">Payment Status</li>
        </ol>
    </nav>

    {% include 'payment_wait.html' with object=object %}
</div>
{% endblock %}
