{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="Middle Middle_top">
	<div class="Section">
		<div class="wrap">
			<div class="Product">
				<div class="ProductCard">
					<div class="ProductCard-look">
						<div class="ProductCard-photo ProductCard-photo__product">
							<img
								:src="product?.images ? product.images[activePhoto].image : ''"
								:alt="product?.images ? product.images[activePhoto].name : ''"
							/>
						</div>
						<div class="ProductCard-picts">
							<a
								v-for="(image, index) in product.images" :key="index"
								class="ProductCard-pict"
								:class="{'ProductCard-pict_ACTIVE': activePhoto === index}"
								@click.prevent="setActivePhoto(index)"
							>
								<img :src="image.image" :alt="image.name" />
							</a>
						</div>
					</div>
					<div class="ProductCard-desc">
						<div class="ProductCard-header">
							<h2 class="ProductCard-title">[[ product.name ]]</h2>
							<div class="ProductCard-info">
								<div class="ProductCard-cost">
									<div class="ProductCard-price">$ [[ price ]]</div>
								</div>
							</div>
						</div>
						<div class="ProductCard-text">
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod</li>
								<li>tempor incididunt ut labore et dolore magna aliqua. Lorem</li>
								<li>ipsum dolor sit ameabore et dolore magna aliqua. Lorem ipsum</li>
							</ul>
						</div>
						<div class="ProductCard-cart">
							<div v-if="userCarts.length > 0" class="ProductCard-cartElement ProductCard-cartElement_amount">
								<div class="Amount Amount_product">
									<button @click="decrementProductCartCount()" class="Amount-remove" type="button"></button>
									<input
										@change="updateProductCartCount(cartProductsCount)"
										v-model="cartProductsCount"
										class="Amount-input form-input"
										name="amount"
										type="text"
										:value="[[ cartProductsCount ]]"
									/>
									<button @click="incrementProductCartCount()"  class="Amount-add" type="button"></button>
								</div>
							</div>
							<div v-else class="ProductCard-cartElement">
								<a @click="createProductCart()" class="btn btn_primary" href="#modal_open">
									<img class="btn-icon" src="{% static 'assets/img/icons/card/cart_white.svg' %}" alt="cart_white.svg" />
									<span class="btn-content">В&nbsp;корзину</span>
								</a>
							</div>
							<div id="modal_open" class="my_modal">
								<div class="my_modal-dialog">
									<div class="my_modal-content">
										<div class="my_modal-header">
											<p class="my_modal-title">Поздравляем!</p>
											<a href="#" title="Закрыть модальное окно" class="close">×</a>
										</div>
										<div class="my_modal-body">
											<p>Товар успешно добавлен в корзину!</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="ProductCard-footer">
							<div class="ProductCard-tags">
								<strong class="ProductCard-tagsTitle">Тэги: </strong>
								<a href="#">Аксессуары</a>, <a href="#">Дизайн</a>,<a href="#">Игры</a>
							</div>
						</div>
					</div>
				</div>
				<div class="Tabs Tabs_default">
					<div class="Tabs-links">
						<a class="Tabs-link_ACTIVE Tabs-link" href="#description">
							<span>Описание</span>
						</a>
						<a class="Tabs-link" href="#sellers">
							<span>Продавцы</span>
						</a>
						<a class="Tabs-link" href="#addit">
							<span>Характеристика</span>
						</a>
						<a class="Tabs-link" href="#reviews">
							<span>Отзывы ([[ product.review && product.review.length ? product.review.length : 0 ]])</span>
						</a>
					</div>
					<div class="Tabs-wrap">
						<div class="Tabs-block" id="description">
							<h2>[[ product.name ]]</h2>
							<p>
                                [[ product.description ]]
							</p>
							<img class="pict pict_right" :src="product?.images ? product.images[0].image : ''" :alt="product.name" />
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetuer</li>
								<li>adipiscing elit doli.&#32;<em>Aenean</em>&#32;commodo ligula</li>
								<li>eget dolor. Aenean massa. Cumtipsu sociis</li>
								<li>natoque penatibus et magnis dis parturient</li>
								<li>montesti, nascetur ridiculus mus. Donec</li>
								<li>quam felis, ultricies nec, pellentesque eutu</li>
							</ul>
							<div class="clearfix"></div>
							<div class="table">
								<table>
									<tr>
										<th>Характеристика</th>
										<th>Значение</th>
									</tr>
									<tr>
										<td>Тип устройства</td>
										<td>Ноутбук</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="Tabs-block" id="sellers">
							<div class="Section-content">
								<div class="Orders">
									<div class="Order Order_anons"
                                        v-for="(ps, index) in product.product_seller"
                                        :key="index"
                                    >
										<div class="Order-personal">
											<div class="row">
												<div class="row-block">
													<a class="Order-title" href="oneorder.html"> [[ ps.seller.name ]] </a>
													<div class="ProductCard-cartElement" style="margin-top: 10px">
														<a class="btn btn_primary" :href="`/product/${ps.product.id}/?product_seller=${ps.id}`">
															<img
																class="btn-icon"
																src="{% static 'assets/img/icons/card/cart_white.svg' %}"
																alt="Buy"
															/>
															<span class="btn-content">Купить</span>
														</a>
													</div>
												</div>
												<div class="row-block">
													<div class="Order-info Order-info_delivery">
														<div class="Order-infoType">Тип доставки:</div>
														<div class="Order-infoContent">Обычная доставка</div>
													</div>
													<div class="Order-info Order-info_pay">
														<div class="Order-infoType">Оплата:</div>
														<div class="Order-infoContent">Онлайн картой</div>
													</div>
													<div class="Order-info">
														<div class="Order-infoType">Стоимость:</div>
														<div class="Order-infoContent">
                                                            <span class="Order-price">[[ ps.price.toLocaleString() ]]$</span>
                                                        </div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="Tabs-block" id="addit">
							<div class="Product-props">
								<div class="Product-prop"><strong>Lorem </strong><span> Pfizer</span></div>
								<div class="Product-prop"><strong>ipsum </strong><span> Lorem ipsum dolor sit</span></div>
								<div class="Product-prop"><strong>dolor sit </strong><span> 5 ans</span></div>
								<div class="Product-prop"><strong>psum dolo </strong><span> 2–3 jours</span></div>
							</div>
						</div>
						<div class="Tabs-block" id="reviews">
							<div class="Comments">
								<div class="Comment"
                                    v-for="(r, index) in product.review"
                                    :key="index"
                                >
									<div class="Comment-column Comment-column_pict">
										<div class="Comment-avatar" :style="{ backgroundImage: r.user.avatar ? 'url(' + r.user.avatar + ')' : 'url(' + defaultAvatar + ')' }"></div>
									</div>
									<div class="Comment-column">
										<header class="Comment-header">
											<div>
												<strong class="Comment-title">[[ r.user.username ]]</strong>
                                                <span class="Comment-date">
													[[ r.created_at ]]
                                                </span>
											</div>
										</header>
										<div class="Comment-content">
                                            [[ r.comment ]]
										</div>
									</div> 
								</div>
							</div>
							{% if user.is_authenticated %}
								<div class="Tabs-addComment">
									<header class="Section-header Section-header_product">
										<h3 class="Section-title">Добавить отзыв</h3>
									</header>
									<form class="form" @submit.prevent="createReviewAndFetchProduct">
										<div class="form-group">
											<textarea class="form-textarea" name="review" id="review" placeholder="Отзыв" v-model="review.commentText"></textarea>
										</div>

										<div class="form-group">
											<button class="btn btn_muted" type="submit">Отправить отзыв</button>
										</div>
									</form>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block mixins %}
<script>
    const prodID = '{{ product_id }}'
    const userID = '{{ user.id }}'
	const defaultAvatar = "{% static 'assets/img/icons/loon-icon.svg' %}"
</script>
<script src="{% static 'assets/js/product.js' %}"></script>
{% endblock %}
