{% extends "base.html" %}

{% load static %}

{% block title %}Payment progress{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Ожидание оплаты</h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>Ожидание оплаты</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div v-if="(!success && !error)" class="Section">
        <div class="wrap">
            <div class="ProgressPayment">
                <div class="ProgressPayment-title">Ждем подтверждения оплаты платежной системой</div>
                <div class="ProgressPayment-icon">
                    <div class="cssload-thecube">
                        <div class="cssload-cube cssload-c1"></div>
                        <div class="cssload-cube cssload-c2"></div>
                        <div class="cssload-cube cssload-c4"></div>
                        <div class="cssload-cube cssload-c3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else-if="error" class="Section">
        <div class="wrap">
            <div class="ProgressPayment">
                <div class="ProgressPayment-title">Что-то пошло не так...</div>
            </div>
        </div>
    </div>
    <div v-else-if="success" class="Section">
        <div class="wrap">
            <div class="ProgressPayment">
                <div class="ProgressPayment-title-success">Заказ оплачен</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block mixins %}
<script>
    const paymentID = '{{ object.id }}'
</script>
<script src="{% static 'assets/js/progresspayment.js' %}"></script>
{% endblock %}
