{% extends "base.html" %}

{% load static %}

{% block title %}Payment progress{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Ожидание оплаты</h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>Ожидание оплаты</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'payment_wait.html' with object=object %}
</div>
{% endblock %}
