{% load static %}

<div class="Comment">
    <div class="Comment-column Comment-column_pict">
        <img class="Comment-avatar" src="{% get_media_prefix %}{{ review.user.avatar }}"/>
    </div>
    <div class="Comment-column">
        <div class="Comment-header">
            <div>
                <strong class="Comment-title">{{ review.user }}</strong>
                <span class="Comment-date">
                    {{ review.created_at }}
                </span>
            </div>
        </div>
        <div class="Comment-content">
            {{ review.comment }}
        </div>
    </div> 
</div>