{% extends "base.html" %}

{% load static %}
{% load stringfilters %}

{% block title %}Views History{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Section Section_column Section_columnLeft">
		<div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection">
                    <h1 class="Section-header">
                        <strong class="Section-title">Навигация</strong>
                    </h1>
                    <div class="Section-columnContent">
                        <div class="NavigateProfile">
                            <ul class="menu menu_vt">
                                <li class="menu-item">
                                    <a class="menu-link" href="{% url 'profile' %}">Profile</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="{% url 'orders_history' %}">Orders history</a>
                                </li>
                                <li class="menu-item_ACTIVE menu-item">
									<a class="menu-link" href="{% url 'views_history' %}">Views history</a>
								</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Section-content">
                <form
                    class="form" id="views-history-form"
                    hx-get="{% url 'views_history' %}"
                    hx-target="#views-history-list"
                    hx-push-url="true"
                    hx-include="this"
                    hx-trigger="pageChanged"
                >
                    <input type="hidden" name="page" id="form-page" value="{{ request.GET.page }}" />
                </form>
                <div id="views-history-list">
                    {% include "views_history_list.html" %}
                </div>
            </div>
		</div>
	</div>
</div>
<script>
function changePage(value) {
	document.getElementById('form-page').value = value;
	htmx.trigger('#views-history-form', 'pageChanged');
}
 </script>
{% endblock %}
