.make-hover:hover {
	opacity: 0.7;
}

.sort-by {
	margin-right: 30px;
}

.sort-by_asc:after,
.sort-by_desc:after {
	content: '';
	display: block;
	position: absolute;
	right: -25px;
	top: 0;
	width: 30px;
	height: 30px;
	background: url('../img/icons/upArrow.svg') center center no-repeat;
	background-size: contain;
}

.sort-by_desc:after {
	transform: rotate(180deg);
}

@media (max-width: 767px) {
	.carousel-inner-limited-edition .carousel-item > div {
		display: none;
	}
	.carousel-inner-limited-edition .carousel-item > div:first-child {
		display: block;
	}
}

.carousel-inner-limited-edition .carousel-item.active,
.carousel-inner-limited-edition .carousel-item-next,
.carousel-inner-limited-edition .carousel-item-prev {
	display: flex;
}

@media (min-width: 768px) {
	.carousel-inner-limited-edition .carousel-item-end.active,
	.carousel-inner-limited-edition .carousel-item-next {
		transform: translateX(25%);
	}

	.carousel-inner-limited-edition .carousel-item-start.active,
	.carousel-inner-limited-edition .carousel-item-prev {
		transform: translateX(-25%);
	}
}

.carousel-inner-limited-edition .carousel-item-end,
.carousel-inner-limited-edition .carousel-item-start {
	transform: translateX(0);
}
